# NetBeans project private files
nbproject/private

# Ignore Composer installed files
vendor
wp

# Uploads, etc
app/uploads
app/upgrade

# Plugins
app/plugins/*
!app/plugins/.gitkeep

# Themes
app/themes/*
!app/themes/.gitkeep
!app/themes/base-wp
!app/themes/cazuela
!app/themes/halfje-bruin
!app/themes/portfolio-press
!app/themes/twentyfourteen
