body {
	margin-top: 100px;
}

footer {
	margin: 50px 0;
}

/* Push the navigation bar below the admin bar.
 * Use 28px for WordPress versions below 3.8
 */
body.admin-bar .navbar-fixed-top {
	top: 32px !important;
}

.navbar-default {
	border-radius: 0px;
}

