html, body {
	height: 100%;
}

body {
	margin-top: 100px;
}

/* Push the navigation bar below the admin bar.
 * Use 28px for WordPress versions below 3.8
 */
body.admin-bar .navbar-fixed-top {
	top: 32px !important;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	/* negative indent footer by its height */
	margin: 0 auto -120px;
	/* pad bottom by footer height */
	padding: 0 0 120px;
}
.push {
	height: 120px;
}

footer.entry-footer {
	margin: 50px 0px;
}

footer.site-footer {
	clear: both;
	background: #333333;
	height: 120px;
}
footer.site-footer .site-info {
}

.navbar-default {
	border-radius: 0px;
}

