// Core variables and mixins from Bootstrap
@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/app-variables.less";
@import "../bootstrap/less/mixins.less";

html, body {
    height: 100%;
}

body {
    margin-top: 100px;
}

body.admin-bar {
    .navbar-fixed-top {
        // reserve space for the admin bar
        top: 32px !important;
    }
}

footer.entry-footer {
    margin: 50px 0px;
}

footer.site-footer {
    margin: 50px 0px;

    .site-info {
        text-align: center;
    }
}

.navbar-default {
    // disable rounded corners on the navbar
    border-radius: 0px;
}

// Front page
header.front-page-header {
    h1.site-title {
        font-size: floor((@font-size-base * 4.0));
        text-align: center;
    }
    h2.site-description {
        font-size: floor((@font-size-base * 2.0));
        text-align: center;
    }
}

//#front-page-carousel {
//    .carousel-control.right {
//       left: auto;
//        right: -50px;
//    }
//
//    .carousel-control.left {
//        left: -50px;
//        right: auto;
//    }
//}

header.entry-header {
    margin-bottom: 10px;
}

// Gallery
.gallery {
    margin: auto;

    .gallery-item {
        margin-top: 10px;
        text-align: center;
    }

    .gallery-icon {
        display: block;
        padding: @thumbnail-padding;
        margin-bottom: @line-height-computed;
        line-height: @line-height-base;
        background-color: @thumbnail-bg;
        border: 1px solid @thumbnail-border;
        border-radius: @thumbnail-border-radius;
        .transition(all .2s ease-in-out);

        > img, a > img {
            &:extend(.img-responsive);
            margin-left: auto;
            margin-right: auto;
        }

        // Add a hover state for linked versions only
        &:hover, &:focus, &.active {
            border-color: @link-color;
        }
    }

    .gallery-caption {
        padding: @thumbnail-caption-padding;
        color: @thumbnail-caption-color;
    }
}

