// Core variables and mixins from Bootstrap
@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/app-variables.less";
@import "../bootstrap/less/mixins.less";

html, body {
    height: 100%;
}

body {
    margin-top: 100px;
}

body.admin-bar {
    .navbar-fixed-top {
        // reserve space for the admin bar
        top: 32px !important;
    }
}

footer.entry-footer {
    margin: 50px 0px;
}

footer.site-footer {
    margin: 50px 0px;

    .site-info {
        text-align: center;
    }
}

.navbar-default {
    // disable rounded corners on the navbar
    border-radius: 0px;
}

// Front page
header.front-page-header {
    h1.site-title {
        font-size: floor((@font-size-base * 4.0));
        text-align: center;
    }
    h2.site-description {
        font-size: floor((@font-size-base * 2.0));
        text-align: center;
    }
}

#front-page-carousel {
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
}
.carousel-inner {
    .item {
        img {
            width:100%;
            height:100%;
        }
    }
}
.carousel-indicators {
    bottom:5px;
    left:0;
    width:auto;
    padding:5px 25px 5px 25px;
    margin-left:0;
    background:rgba(0,0,0,0.7);
    li {
        border-radius:0;
        width:8px;
        height:8px;
        background:#fff;
    }
    .active {
        width:10px;
        height:10px;
        background:@link-color;
        border-color:@link-color;
    }
}
.carousel-control {
    background:	@link-color;
    color:#fff;
    width:30px;
    height:30px;
    top:auto;
    left:auto;
    bottom: 12px;
    opacity:0.85;
    font-size: @font-size-large;
}
.carousel-control.right {
    right:10px;
}
.carousel-control.left {
    right: 46px;
}
.carousel-caption {
    top:auto;
    width:auto;
    right:auto;
    bottom:60px;
    left:0;
    padding:20px;
    background:rgba(0,0,0,0.70);
    text-align:left;
    height:auto;
    max-width:540px;

    h3 {
        color: #fff;
    }
}
}

header.entry-header {
    margin-bottom: 10px;
}

// Gallery
.gallery {
    margin: auto;

    .gallery-item {
        margin-top: 10px;
        text-align: center;
    }

    .gallery-icon {
        display: block;
        padding: @thumbnail-padding;
        margin-bottom: @line-height-computed;
        line-height: @line-height-base;
        background-color: @thumbnail-bg;
        border: 1px solid @thumbnail-border;
        border-radius: @thumbnail-border-radius;
        .transition(all .2s ease-in-out);

        > img, a > img {
            &:extend(.img-responsive);
            margin-left: auto;
            margin-right: auto;
        }

        // Add a hover state for linked versions only
        &:hover, &:focus, &.active {
            border-color: @link-color;
        }
    }

    .gallery-caption {
        padding: @thumbnail-caption-padding;
        color: @thumbnail-caption-color;
    }
}

